header {   
    nav{ 
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .menu {
        display: none;
    }
    .icon {
        display: none;
      }
    .logo {
        width: 300px;
    }
    .logo-link {
        width: 100%;
    }
    .header-links {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
    .header-links a {
        text-decoration: none;
        color: black;
        .fontAmatic;
        font-size: 3.6em;
        padding-left: 36px;
        }
        a:hover {
            text-decoration: #3F7A1A line-through;
        }
}
    @media @mobile {
        nav {
            margin-left: 5%;
            margin-right: 5%; 
            display: flex;
            justify-content: space-between;
            align-items: center; 
        .logo {
            margin-top: 3px;
            width: 80%;
        }
        .header-links {
            width: auto;
            flex-direction: column;
            justify-content: center;
            align-items: center; 
            position: absolute;
            right: 20px;
            top: 82px;
            background: white;
            padding: 20px;
            border: 2px black solid;
            a {
                padding: 0;
            }
        }
        .icon {
            display: block;
            cursor: pointer;
            color: black;
        }
        .icon:hover {
            color: @green;
        }
        .dropdown {
            display: none;
        }
}
}   
}