header {   
    nav{ 
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .menu {
        display: none;
    }
    .logo {
        width: 300px;
    }
    .logo-link {
        width: 100%;
    }
    .header-links {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
    .header-links a {
        text-decoration: none;
        color: black;
        .fontAmatic;
        font-size: 3.6em;
        padding-left: 36px;
        }
        a:hover {
            text-decoration: #3F7A1A line-through;
        }
}
    @media @mobile {
        nav {
            margin-left: 5%;
            margin-right: 5%; 
            display: flex;
            justify-content: space-between;
            align-items: center;
        a {
            color: black;
            text-decoration: none;
         }   
        .logo {
            margin-top: 3px;
            width: 80%;
        }
        .nav-item {
            display: none;
        }
        .header-links {
            display: none;
        }
        .menu {
            display: flex;
            align-items: center;
            width: 10%;
        }
    }
}   
}