body {
    .bar {
        // background-color: rgb(63, 122, 26);
        background: @green;
        background-repeat: no-repeat;
        margin-left: -8px;
        margin-right: -8px;
        .fontAmatic;
        color: white;
        text-shadow: 2px 2px black;
        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-left: 15%;
            margin-right: 15%;
        .container-left {
            padding-right: 60px;
            h1 {
                font-size: 60px;
                padding-top: 80px;
            }
            h2 {
                font-size: 36px;
            }
            p {
                font-size: 30px;
                padding-bottom: 80px;
            }
        }
        .container-right {
            padding-top: 20px;
            .phone {
                width: 120%;
            }
        }
    }
    .about-container {
        display: flex;
        justify-content: center;
        margin-left: 15%;
        margin-right: 15%;
        .about-text {
            text-align: center;
            h1 {
                font-size: 60px;
                padding-top: 10px;
            }
            p {
                font-size: 30px;
                padding-bottom: 36px;
            }
        }
    }
    }
    @media @mobile {
    .bar {
    background-color: rgb(63, 122, 26);
    margin-left: -8px;
    margin-right: -8px;
    color: white;
    text-align: center;
        .phone {
        display: none;
        }
        .container {
        .container-left {
            padding-right: 0px;
            h1 {
                padding-top: 10px;
                font-size: 50px;
            }
            p {
                padding-bottom: 10px;
            }
        }
    }
}    
}
}